.flex
  .w70
    %h1= @payout_run.payout_date.strftime('%d.%m.%Y')
    %h4
      Leistungszeitraum:
      = "#{@payout_run.performance_start_date.strftime('%d.%m.%Y')} - #{@payout_run.performance_end_date.strftime('%d.%m.%Y')}"

  .w30.t-right
    = link_to 'Abrechnung löschen', cancel_payouts_payout_run_path(@payout_run), method: :delete, class: 'btn-base btn-sec-ghost', data: { confirm: 'Sicher? Die Löschung kann nicht mehr rückgängig gemacht werden. Alle dazugehörigen Abrechnungen, Abrechnungsposten und Verträge werden gelöscht. Die Rechnungsnummern werden wieder frei und ggf. erneut in einer neuen Abrechnung verwendet.' }