.nested-fields
  .flex
    .w30.field.margin-top
      = f.label :level
      = f.number_field :level
      = f.render_errors :level

    .w40.field.margin-top
      = f.label :provision
      = f.text_field :provision
      = f.render_errors :provision

    .field.margin-top
      = f.check_box :follow_up
      = f.label :follow_up, 'Folge'
      = f.render_errors :follow_up

  = f.render_errors :provider
  = f.render_errors :provisions_template

  = link_to_remove_association 'Provision entfernen', f, style: 'color: white !important'