.card.margin-top{ style: 'cursor: auto'}
  %h3{ style: "#{(provider.inactive? || provider.new_record?) ? 'color: red' : 'color: white'}" }
    = 'Neu: ' if provider.new_record?
    = "#{provider.name}#{' (inaktiv)' if provider.inactive?}"

  %h4 Provisionen
  %div{ id: "provider-#{provider.name}",  style: 'pointer-events: auto !important' }
    = render 'ajax_form', provider: provider
