%h1 Neuen Anbieter erstellen

.centered-content
  = form_with model: @provider, local: true do |f|
    .margin-top
      = f.label :name, 'Name'
      = f.text_field :name

    .margin-top
      = f.check_box :inactive
      = f.label :inactive, 'Inaktiv'

    %h2 Provisionen
    #provisions
      = f.fields_for :provisions do |provision|
        = render 'unilevel_settlement/provisions/provisions_fields', f: provision
      .links
        = link_to_add_association 'Provision hinzufügen', f, :provision

    .margin-top
      = f.submit value: 'Änderungen speichern', class: 'btn-base'
