= link_to '<<< Zurück', :back
.flex
  .w50
    %h1= @invoice.invoice_number
  .w50.t-right
    = link_to 'Abrechnung PDF', rails_blob_path(@invoice.invoice_pdf, disposition: "attachment"), class: 'btn-base btn-main'

.f-bold
  = @invoice.user.full_name
  %br
  %br

.flex.f-bold
  .w30
    Gesamt Auszahlung:
    - if @invoice.user.send(UnilevelSettlement.vat) == 'true'
      %br
      Netto:
      %br
      Steuer:
  .w70
    = number_to_currency(@invoice.total, unit: '€')
    - if @invoice.user.send(UnilevelSettlement.vat) == 'true'
      %br
      = number_to_currency(@invoice.sub_total, unit: '€')
      %br
      = number_to_currency(@invoice.total_vat, unit: '€')

.flex.margin-top
  .w30
    Eigenverträge Anzahl:
    %br
    Eigenverträge:
    %br
    First Level:
    %br
    Second Level:
  .w70
    = @level0_records.count
    %br
    = number_to_currency(@invoice.sub_total_level0, unit: '€')
    %br
    = number_to_currency(@invoice.sub_total_level1, unit: '€')
    %br
    = number_to_currency(@invoice.sub_total_level2, unit: '€')


- if @level0_records.any?
  .margin-top
    %h2 Eigenverträge
    = render 'records_table', records: @level0_records, sub_total: @invoice.sub_total_level0

- if @level1_records.any? || @level2_records.any?
  .margin-top
    %h2 Unilevel
    - if @level1_records.any?
      %h3 First Level
      = render 'records_table', records: @level1_records, sub_total: @invoice.sub_total_level1

    - if @level2_records.any?
      %h3 Second Level
      = render 'records_table', records: @level2_records, sub_total: @invoice.sub_total_level2