.card.margin-top{:id => "template-#{template.id}", style: 'cursor: auto'}
  %h3{ style: 'color: white' }= "#{template.name}"

  %h4 Provisionen
  .flex
    .w50
      - template.provisions.order(:level).each do |provision|
        = "Level #{provision.level}: #{provision.provision} €"
        %br
    .w50.t-right
      = link_to 'Bearbeiten', edit_provisions_template_path(template), class: 'btn-base btn-sec', style: 'pointer-events: all'